#root {
  text-align: center;
}
.camera {
  width: 700px;
  height: 70px;
  background: black;
  margin-bottom: -5px;
}
.mirror {
  width: 700px;
  height: 700px;
  background: silver;
  text-align: left;
  text-indent: 50px;
  font-size: 50px;
  line-height: 100px;
}

.music {
  width: 600px;
  height: 250px;
  background: grey;
  text-align: left;
  text-indent: 50px;
  font-size: 35px;
  line-height: 100px;
}

.taskbar {
  width: 700px;
  height: 90px;
  background: green;

}